/* FONTS */
@font-face { font-family: 'Gotham Black'; src: url('../fonts/Gotham/Gotham-Black.eot'); src: url('../fonts/Gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Black.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Black.woff') format('woff'), url('../fonts/Gotham/Gotham-Black.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Black Italic'; src: url('../fonts/Gotham/Gotham-BlackItalic.eot'); src: url('../fonts/Gotham/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-BlackItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-BlackItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-BlackItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Bold'; src: url('../fonts/Gotham/Gotham-Bold.eot'); src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham/Gotham-Bold.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Bold Italic'; src: url('../fonts/Gotham/Gotham-BoldItalic.eot'); src: url('../fonts/Gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-BoldItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-BoldItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Book'; src: url('../fonts/Gotham/Gotham-Book.eot'); src: url('../fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Book.woff') format('woff'), url('../fonts/Gotham/Gotham-Book.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Book Italic'; src: url('../fonts/Gotham/Gotham-BookItalic.eot'); src: url('../fonts/Gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-BookItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-BookItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-BookItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Light'; src: url('../fonts/Gotham/Gotham-Light.eot'); src: url('../fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Light.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Light.woff') format('woff'), url('../fonts/Gotham/Gotham-Light.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Light Italic'; src: url('../fonts/Gotham/Gotham-LightItalic.eot'); src: url('../fonts/Gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-LightItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-LightItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-LightItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Gotham Medium'; src: url('../fonts/Gotham/Gotham-Medium.eot'); src: url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham/Gotham-Medium.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
.gotham-black { font-family: 'Gotham Black', sans-serif; }
.gotham-black-italic { font-family: 'Gotham Black Italic', sans-serif; }
.gotham-bold { font-family: 'Gotham Bold', sans-serif; }
.gotham-bold-italic { font-family: 'Gotham Bold Italic', sans-serif; }
.gotham-book { font-family: 'Gotham Book', sans-serif; }
.gotham-book-italic { font-family: 'Gotham Book Italic', sans-serif; }
.gotham-light { font-family: 'Gotham Light', sans-serif; }
.gotham-light-italic { font-family: 'Gotham Light Italic', sans-serif; }
.gotham-medium { font-family: 'Gotham Medium', sans-serif; }

/* FONT SIZE */
.font70 { font-size: 70px; }
.font30 { font-size: 30px; }
.font20 { font-size: 20px; }
.font16 { font-size: 16px; }
.font14 { font-size: 14px; }
.font10 { font-size: 10px; }

/* COLORS */
.sherwood { background-color: #0D4634 !important; }
.sherwood-text { color: #0D4634 !important; }
.golden { background-color: #F3DB7F !important; }
.golden-text { color: #F3DB7F !important; }
.teak { background-color: #A28F50 !important; }
.teak-text { color: #A28F50 !important; }
.yale { background-color: #0D528E !important; }
.yale-text { color: #0D528E !important; }
.jumbo { background-color: #7B7A7F !important; }
.jumbo-text { color: #7B7A7F !important; }
.lilac { background-color: #E9E8E7 !important; }
.lilac-text { color: #E9E8E7 !important; }
.pastel { background-color: #7B9CC2 !important; }
.pastel-text { color: #7B9CC2 !important; }
.bleu { background-color: #2AA3EF !important; }
.bleu-text { color: #2AA3EF !important; }
.suva { background-color: #8B8385 !important; }
.suva-text { color: #8B8385 !important; }

/* GENERAL */
html, body { width: 100%; height: 100%; display: block; background-color: #FFF; color: #000; }
.centered { margin: 0 auto; text-align: center; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.space5 { margin-top: 5px; display: block; }
.space10 { margin-top: 10px; display: block; }
.space30 { margin-top: 30px; display: block; }
.space20 { margin-top: 20px; display: block; }
.space40 { margin-top: 40px; display: block; }
.space60 { margin-top: 60px; display: block; }
.space80 { margin-top: 80px; display: block; }
.space100 { margin-top: 100px; display: block; }
.space120 { margin-top: 120px; display: block; }
.space140 { margin-top: 140px; display: block; }
.space160 { margin-top: 160px; display: block; }
.space180 { margin-top: 180px; display: block; }
.space200 { margin-top: 200px; display: block; }
.space300 { margin-top: 300px; display: block; }
.space320 { margin-top: 320px; display: block; }
.space390 { margin-top: 390px; display: block; }
.space400 { margin-top: 400px; display: block; }
.space420 { margin-top: 420px; display: block; }
.space440 { margin-top: 440px; display: block; }
.space460 { margin-top: 460px; display: block; }
.inline { display: inline-block; }
.block { display: block; }
.underline { text-decoration: underline; }
.no-padding { padding: 0 !important; margin-bottom: 0px;}
.padding-1rem { padding: 1rem !important; }
.no-box-shadow { box-shadow: none !important; }
.no-margin-row { margin-top: -20px; }
.clear { clear: both !important; }
select { display: block; }
hr.line { border: 0; height: 3px; background: #A28F50; width: 80px; }
hr.inline-line { width: 80px; margin: 0.5em 20px; display: inline-block; border: 0; height: 2px; background: #1D4634; }
.text-normal { text-transform: none; }
.border-white { border: 1px solid #FFF; }
.border-pastel { border: 1px solid #7B9CC2; }
.cursor-click { cursor: pointer; }
hr.points { border: 0; height: 3px; background: #A28F50; width: 220px; margin-top: -20px; }
.logout { position: absolute; right: 20px; margin-top: 20px; }
.codes { position: absolute; right: 140px; margin-top: 20px; }
.records { position: absolute; right: 300px; margin-top: 20px; }
.margin-ul { margin: 10px 10px 10px 40px; }

/* FORM */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea { color: #1D4634; text-indent: 10px; background-color: #FFF; border: 1px solid #1D4634; border-radius: 0; outline: none; height: 2rem; width: 100%; font-size: 1rem; margin: 0 0 0 0; padding: 0; box-shadow: none; box-sizing: content-box; transition: all 0.3s}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) { border-bottom: 1px solid #1D4634; box-shadow: none; }
.input-field label { color: #918F90; position: relative; top: 0rem; left: 0; font-size: 1rem; cursor: text; transition: .2s ease-out: }
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label { color: #1D4634; }
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid { border-bottom: 1px solid #1D4634; box-shadow: none; }
input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime]:disabled, input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] { color: rgba(0, 0, 0, 0.26); border-bottom: 1px solid #1D4634; }
label.error { color: #FFF; }
.input-field label.active { font-size: 1rem; }
select { height: 2rem; }
input.error,select#inputProducto.error { border-color: red !important; }

/* HOME */
.home { /*background: url(../img/activia.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;*/ }
.home .logo { width: 136px; display:block; position: absolute; left:0; right:0; top:170px; margin:auto; }

/* GRACIAS */
.gracias .logo { width: 136px; display:block; position: absolute; left:0; right:0; top:170px; margin:auto; }

/* VERIFY */
.verify .logo { width: 136px; display:block; position: absolute; left:0; right:0; top:170px; margin:auto; }

/* REQUEST */
.request .logo { width: 136px; display:block; position: absolute; left:0; right:0; top:170px; margin:auto; }

/* DASHBOARD */
.dashboard .logo { width: 200px; display:block; position: absolute; left:0; right:0; top:220px; margin:auto; }
.home .logo_finish, .dashboard .logo_finish { width: 200px; display:block; }
.dashboard .float-image { position: absolute; margin-left: -160px; margin-top: 46px; }
.dashboard #formCode ::-webkit-input-placeholder { text-align: center; }
.dashboard #formCode ::-webkit-input-placeholder:-moz-placeholder { text-align: center; }
.dashboard #formCode ::-webkit-input-placeholder::-moz-placeholder { text-align: center; }
.dashboard #formCode ::-webkit-input-placeholder:-ms-input-placeholder { text-align: center; }
.dashboard #formCode input:not([type]), .dashboard #formCode input[type=text], .dashboard #formCode input[type=password], .dashboard #formCode input[type=email], .dashboard #formCode input[type=url], .dashboard #formCode input[type=time], .dashboard #formCode input[type=date], .dashboard #formCode input[type=datetime], .dashboard #formCode input[type=datetime-local], .dashboard #formCode input[type=tel], .dashboard #formCode input[type=number], .dashboard #formCode input[type=search], .dashboard #formCode textarea.materialize-textarea { color: #FFF; text-indent: 0px !important; background-color: rgba(255, 255, 255, .2); border: 1px solid #FFF; border-radius: 0; outline: none; height: 2rem; width: 100%; font-size: 1rem; margin: 0 0 0 0; padding: 0; box-shadow: none; box-sizing: content-box; transition: all 0.3s; text-align: center; }
.dashboard #formCode input:not([type]):focus:not([readonly]), .dashboard #formCode input[type=text]:focus:not([readonly]), .dashboard #formCode input[type=password]:focus:not([readonly]), .dashboard #formCode input[type=email]:focus:not([readonly]), .dashboard #formCode input[type=url]:focus:not([readonly]), .dashboard #formCode input[type=time]:focus:not([readonly]), .dashboard #formCode input[type=date]:focus:not([readonly]), .dashboard #formCode input[type=datetime]:focus:not([readonly]), .dashboard #formCode input[type=datetime-local]:focus:not([readonly]), .dashboard #formCode input[type=tel]:focus:not([readonly]), .dashboard #formCode input[type=number]:focus:not([readonly]), .dashboard #formCode input[type=search]:focus:not([readonly]), .dashboard #formCode textarea.materialize-textarea:focus:not([readonly]) { border-bottom: 1px solid #FFF; box-shadow: none; }
.dashboard #formCode input:not([type]):focus:not([readonly])+label, .dashboard #formCode input[type=text]:focus:not([readonly])+label, .dashboard #formCode input[type=password]:focus:not([readonly])+label, .dashboard #formCode input[type=email]:focus:not([readonly])+label, .dashboard #formCode input[type=url]:focus:not([readonly])+label, .dashboard #formCode input[type=time]:focus:not([readonly])+label, .dashboard #formCode input[type=date]:focus:not([readonly])+label, .dashboard #formCode input[type=datetime]:focus:not([readonly])+label, .dashboard #formCode input[type=datetime-local]:focus:not([readonly])+label, .dashboard #formCode input[type=tel]:focus:not([readonly])+label, .dashboard #formCode input[type=number]:focus:not([readonly])+label, .dashboard #formCode input[type=search]:focus:not([readonly])+label, .dashboard #formCode textarea.materialize-textarea:focus:not([readonly])+label { color: #FFF; }
.dashboard #formCode input:not([type]).valid, .dashboard #formCode input:not([type]):focus.valid, .dashboard #formCode input[type=text].valid, .dashboard #formCode input[type=text]:focus.valid, .dashboard #formCode input[type=password].valid, .dashboard #formCode input[type=password]:focus.valid, .dashboard #formCode input[type=email].valid, .dashboard #formCode input[type=email]:focus.valid, .dashboard #formCode input[type=url].valid, .dashboard #formCode input[type=url]:focus.valid, .dashboard #formCode input[type=time].valid, .dashboard #formCode input[type=time]:focus.valid, .dashboard #formCode input[type=date].valid, .dashboard #formCode input[type=date]:focus.valid, .dashboard #formCode input[type=datetime].valid, .dashboard #formCode input[type=datetime]:focus.valid, .dashboard #formCode input[type=datetime-local].valid, .dashboard #formCode input[type=datetime-local]:focus.valid, .dashboard #formCode input[type=tel].valid, .dashboard #formCode input[type=tel]:focus.valid, .dashboard #formCode input[type=number].valid, .dashboard #formCode input[type=number]:focus.valid, .dashboard #formCode input[type=search].valid, .dashboard #formCode input[type=search]:focus.valid, .dashboard #formCode textarea.materialize-textarea.valid, .dashboard #formCode textarea.materialize-textarea:focus.valid { border-bottom: 1px solid #FFF; box-shadow: none; }
.dashboard #formCode input:not([type]):disabled, .dashboard #formCode input:not([type])[readonly="readonly"], .dashboard #formCode input[type=text]:disabled, .dashboard #formCode input[type=text][readonly="readonly"], .dashboard #formCode input[type=password]:disabled, .dashboard #formCode input[type=password][readonly="readonly"], .dashboard #formCode input[type=email]:disabled, .dashboard #formCode input[type=email][readonly="readonly"], .dashboard #formCode input[type=url]:disabled, .dashboard #formCode input[type=url][readonly="readonly"], .dashboard #formCode input[type=time]:disabled, .dashboard #formCode input[type=time][readonly="readonly"], .dashboard #formCode input[type=date]:disabled, .dashboard #formCode input[type=date][readonly="readonly"], .dashboard #formCode input[type=datetime]:disabled, .dashboard #formCode input[type=datetime][readonly="readonly"], .dashboard #formCode input[type=datetime-local]:disabled, .dashboard #formCode input[type=datetime-local][readonly="readonly"], .dashboard #formCode input[type=tel]:disabled, .dashboard #formCode input[type=tel][readonly="readonly"], .dashboard #formCode input[type=number]:disabled, .dashboard #formCode input[type=number][readonly="readonly"], .dashboard #formCode input[type=search]:disabled, .dashboard #formCode input[type=search][readonly="readonly"], .dashboard #formCode textarea.materialize-textarea:disabled, .dashboard #formCode textarea.materialize-textarea[readonly="readonly"] { color: rgba(0, 0, 0, 0.26); border-bottom: 1px solid #FFF; }
.dashboard #formCode #inputProducto { -webkit-appearance: none; /*color: #FFF;*/ text-indent: 10px !important; /*background-color: rgba(255, 255, 255, .2);*/ border: 1px solid #FFF; border-radius: 0; outline: none; height: 2rem; width: 100%; font-size: 1rem; margin: 0 0 0 0; padding: 0; box-shadow: none; box-sizing: content-box; transition: all 0.3s; }
.dashboard .info { position: absolute; margin-left: 90px; margin-top: -24px; }
.dashboard .info-text { position: absolute; margin-left: 104px; margin-top: -30px; display: none; }
.dashboard .btnShareFacebook { margin-right: 40px; }
.dashboard .btnShareTwitter { }
.dashboard #invite_code { cursor: pointer; }
.dashboard #codigo_error { display: none; }
.dashboard #formCode #inputDate { text-transform: uppercase; }
.dashboard #formCode #inputFolio { text-transform: uppercase; }
.dashboard #formCode #inputHora { text-transform: uppercase; }

/* INVITE */
.invite .logo { width: 136px; display:block; position: absolute; left:0; right:0; top:170px; margin:auto; }

/* RESET */
.reset .logo { width: 136px; display:block; position: absolute; left:0; right:0; top:170px; margin:auto; }

/* DEVOLUCIONES */
.devoluciones, .devoluciones .container-fluid { background-color: #FFF !important; }
.devoluciones label.error { color: #1D4634; }
.devoluciones .invalid { margin-bottom: 20px; display: none; }

/* HISTORIAL */
#table_historial tbody tr td { border-right: 1px solid #d0d0d0; }
#table_historial tbody tr td:last-child { border-right: none; }
.historial .pagination li.active { background-color: #FFF; }
.historial .pagination li.active a { color: #0D4634; }
.historial .pagination li a { color: #FFF; }

/* USERS */
.users { background-color: #0D4634; }
form#formSearch, form#formQuery { margin-top: -17px; }
.tabs .tab .active { color: #A28F50 !important; }
.tabs .indicator { color: #A28F50 !important; background-color: #A28F50 !important; }

/* FAILS */
.fails { background-color: #0D4634; }

/* Styles for Tablets */

@media only screen  and (max-width : 992px) {
	.home .logo { width: 50px; top: 80px; margin: auto; }
	.gracias .logo { width: 50px; top: 80px; margin: auto; }
	.dashboard .logo { width: 50px; top: 80px; margin: auto; }
	.invite .logo { width: 50px; top: 80px; margin: auto; }
	.reset .logo { width: 50px; top: 80px; margin: auto; }
	#table_historial tbody tr td:last-child { border-right: 1px solid #d0d0d0; }
	.verify .logo { width: 50px; top: 80px; margin: auto; }
	.request .logo { width: 50px; top: 80px; margin: auto; }
}

/* Styles for Smartphones */

@media only screen  and (max-width : 600px) {
	
}